@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

:root {
    --purple: #7743DB;
    --white: #fff;
    --green: #88D66C;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
}

form {
    background-color: var(--white);
    padding: 60px;
    border-radius: 1.5em;
}

form > h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.form_field label {
    margin: 4px 0px;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 14px;
    color: gray;
}

input {
    padding: 4px 8px;
    font-size: 18px;
    border-radius: .5em;
    border: 1px solid rgb(222, 222, 222);
    margin-bottom: 20px;
}

input:user-valid {
    border: 2px solid var(--green);
}



form > button{
    display: block;
    margin: 16px auto;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    border-radius: .5rem;
    padding: 4px 18px;
    font-size: 20px;
}

form > button:hover {
    opacity: .8;
}

form > p {
    color: gray;
    font-size: 14px;
    text-align: center;
}

form > p a {
    color: var(--purple);
    text-decoration: none;
}

